<!DOCTYPE html>
<html lang="en">
<head>   
    <base href="/">
    <%-include('partials/head')%>
    <link href="/static/css/form_productos.css" rel="stylesheet">
</head> 
    <body>
        <%-include('partials/header')%>
    <main>
        <div class="tabs">

            <div class="tabs__content" data-tab="2">
         <h2>Editar Producto</h2>
         <form action="/product/edit/<%= product.id%>?_method=PUT"  method="post">
            <div>
                <label>Producto a editar</label>
                <input type="search" value="<%= product.id %>" name="codigo_producto" id="codigo_producto" placeholder="Buscar Producto a editar" required>
            </div>
            <div>
                <label>Nombre</label>
                <input type="text" value="<%= product.nombre %>"name="nombre" id="nombre" placeholder="Nombre Producto" required>
            </div>
            <div>
                <label>Marca</label>
                <input type="text" value="<%= product.marca %>"name="marca" id="marca" placeholder="Marca" required>
            </div>
            <div>
                <label>Precio</label>
                <input type="number" value="<%= product.precio %>"name="precio" id="precio" placeholder="Precio" required>
            </div>
            <div>
                <label>Talle</label>
                <input type="text" value="<%= product.talle_producto %>"name="talle_producto" id="talle_producto" placeholder="Talle" required >
            </div>
            <div>
                <label for="rodado">Rodado</label>
                <input type="text" value="<%= product.rodado %>" name="rodado" id="rodado" placeholder="Rodado" required >
            </div>
            <div>
                <label for="velocidad">Velocidades</label>
                <input type="text" value="<%= product.velocidad %>" name="velocidad" id="velocidad" placeholder="Velocidad" required >
            </div>
            <div>
                <label for="color">Color</label>
                <input type="text" value="<%= product.color %>" name="color" id="color" placeholder="Color" required >
            </div>
                 
                <div>
                    <label for="descripcion">Descripcion Producto (Optional)</label>
                    <textarea rows="5" value="<%= product.descripcion %>" id="descripcion" name="descripcion" required ><%= product.descripcion %></textarea>
                </div>

                    
                <p>
                    <label for="categoria_id">categoria_id</label>
                    <select name="categoria_id" id="" required>
                        <% categoriaProducto.forEach(categoria => { %>
                        <option value="<%= categoria.id %>" <% if (product.categoria_id == categoria.id) { %><%= 'selected' %><% }; %>><%= categoria.nombre %></option>
                        <% }); %>
                    </select>
                </p>
                
                    <button type="submit" value="Guardar y volver al Home" >EDITAR PRODUCTO</a></button>    <br><br>
                </form>                    
                    <form action="/product/delete/<%= product.id %>?_method=DELETE" method="post" 
                        >
                    <button type="submit" value="Guardar y volver al Home">ELIMINAR PRODUCTO</a></button> 
                    </form>                    
                
        </div>
    </main>
        <%-include('partials/footer')%>
</body>
</html>