<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <%-include('partials/head')%>
    <link href="/static/css/form_productos.css" rel="stylesheet">
</head> 
    <body>
        <%-include('partials/header')%>
    <main>
        <div class="tabs">
            <div class="tabs__content" data-tab="2">

                <div class="errores">
                    <ul></ul>
                </div>

                <form action="/product/create" method="POST"  class="create-form" id="create-form" enctype="multipart/form-data">
                <h2>Agregar Producto</h2>
               
                   <div>
                       <label  for="nombre">Nombre</label>
                       <input type="text" name="nombre" id="nombre" placeholder="Nombre Producto" >
                       <% if(locals.errors && locals.errors.nombre){ %>
                        <span> <%=errors.nombre.msg %> </span>
                        <% } %>
                   </div>
                   
                   <div>
                       <label for="precio">Precio</label>
                       <input type="number" name="precio" id="precio" placeholder="Precio" >
                   </div>
                   <div>
                       <label  for="SKU">Talle</label>
                       <input type="text" name="SKU" id="SKU" placeholder="Talle" >
                   </div>
                   <div>
                        <label for="peso">Peso</label>
                        <input type="text" name="peso" id="peso" placeholder="peso" >
                    </div>
                    <div>
                        <label for="create_date">Create Date</label>
                        <input type="text" name="create_date" id="create_date" placeholder="create_date" >
                    </div>
                    <div>
                        <label for="stock">Stock</label>
                        <input type="text" name="stock" id="stock" placeholder="stock" >
                    </div>
                    <div>
                        <label for="proveedor_id">Proveedor_id</label>
                        
                        <p>
                            <select class="proveedor_id" name="proveedor_id" id="" >
                              <option value="" disabled selected>- proveedor_id - </option>
                              <% productoProveedor.forEach(provedor => { %>
                              <option value="<%= provedor.id %>"><%= provedor.nombre %></option>
                              <% }); %>
                            </select>
                        </p>               
                                                        
                    </div>
                    <div>
                        <label for="categoria_id">Categoria_id</label>
                    </div>
                    <p>
                        <select class="categoria_id" name="categoria_id" id="" >
                          <option value="" disabled selected>- categoria_id - </option>
                          <% categoriaProducto.forEach(categoria => { %>
                          <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                          <% }); %>
                        </select>
                    </p>
                  
                    <div>
                           <label for="descripcion">Descripcion Producto (Optional)</label>
                           <textarea rows="5" type="text" id="descripcion" name="descripcion"></textarea>
                    </div>
                    
                <!-- File input field -->
                    <div>
                        <label for="file">Foto de Producto</label>
                        <input type="file" name="file"  id="file" onchange= "return fileValidation()" />
                        <% if (locals.errors && errors.file) { %>
                            <span><%= errors.file.msg %></span> 
                            <% } %>
                    </div>
                    
                <!-- Image preview -->
                    <div id="imagePreview"></div>

                       <div>
                           <button type="submit" value="Guardar">GUARDAR</a></button>            
                       </div>

               </form>
            
            </div>
        </div>

    </main>
        <%-include('partials/footer')%>
           
</body>

</html>