<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <%-include('partials/head')%>
        <link href="/static/css/form_productos.css" rel="stylesheet">
</head>

<body>
    <%-include('partials/header')%>
        <main>
            <div class="tabs">
                <div class="tabs__content" data-tab="2">
                    <form action="/product/create" method="post" class="create-form">
                        <h2>Agregar Producto</h2>

                        <div>
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Nombre Producto" required>
                        </div>

                        <div>
                            <label for="precio">Precio</label>
                            <input type="number" name="precio" id="precio" placeholder="Precio" required>
                        </div>
                        <div>
                            <label for="SKU">Talle</label>
                            <input type="text" name="SKU" id="SKU" placeholder="Talle" required>
                        </div>
                        <div>
                            <label for="peso">peso</label>
                            <input type="text" name="peso" id="peso" placeholder="peso" required>
                        </div>
                        <div>
                            <label for="create_date">create_datees</label>
                            <input type="text" name="create_date" id="create_date" placeholder="create_date" required>
                        </div>
                        <div>
                            <label for="stock">stock</label>
                            <input type="text" name="stock" id="stock" placeholder="stock" required>
                        </div>
                        <div>
                            <label for="proveedor_id">proveedor_id</label>

                            <p>
                                <select class="proveedor_id" name="proveedor_id" id="" required>
                              <option value="" disabled selected>- proveedor_id - </option>
                              <% productoProveedor.forEach(provedor => { %>
                              <option value="<%= provedor.id %>"><%= provedor.nombre %></option>
                              <% }); %>
                            </select>
                            </p>

                        </div>
                        <div>
                            <label for="categoria_id">categoria_id</label>
                        </div>
                        <p>
                            <select class="categoria_id" name="categoria_id" id="" required>
                          <option value="" disabled selected>- categoria_id - </option>
                          <% categoriaProducto.forEach(categoria => { %>
                          <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                          <% }); %>
                        </select>
                        </p>

                        <div class="imagenProduct">
                            <label for="avatar" class="imagenP"> Imagen del Producto</label><br>
                            <input type="file" class="form-create-product" name="ImagenProduct">
                        </div><br>

                        <div>
                            <label for="descripcion">Descripcion Producto (Optional)</label>
                            <textarea rows="5" type="text" id="descripcion" name="descripcion"></textarea>
                        </div>
                        <div>
                            <button type="submit" value="Guardar y volver al Home">GUARDAR</a></button>
                        </div>
                    </form>

                </div>
            </div>

        </main>
        <%-include('partials/footer')%>
</body>

</html>