<!DOCTYPE html>
<html lang="es">
<head>
<base href="/">
<%-include('partials/head.ejs') %>
<link href="/static/css/userProfile.css" rel="stylesheet">
</head>
<body>

<%-include('partials/header.ejs')%>

<main>

    <h1>LISTADO DE USUARIOS</h1>
    <br>
    <p>

        <a class="botonVolver" href="/">inicio</a>

    </p>
    <br>
    <ul>
        <% for( let i = 0; i < users.length; i++ ) { %>
        <li>
            <a href="/users/profile/<%= users[i].id %>"><%= users[i].nombre %></a>
        </li>
        <% } %>

    </ul>
</main>
<footer>
<%-include('partials/footer.ejs')%>
</footer>
</body>
</html>