<!DOCTYPE html>
<html lang="es">
<head>
<%-include('partials/head')%>
<link href="/static/css/login_style.css" rel="stylesheet">>
</head>

<body>
<%-include('partials/header')%>
<main>
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3">
				<h2>Hi <%= user.nombre %> </h2>
				<!--<img src="/images/avatars/<%= user.avatar %> ">-->
				<br>
				<br>
				<!--<div class="alert alert-success"><%= user.email %> </div>-->
			</div>
		</div>
	</div>
</main>	
<%-include('partials/footer')%>
</body>
</html>