<!DOCTYPE html>
<html lang="es">
<head>
<base href="/">
<%-include('partials/head.ejs') %>
<link href="/static/css/userProfile.css" rel="stylesheet">
</head>
<body>

<%-include('partials/header.ejs')%>

<main>
    <h1 class="titulo">Aqui podrás editar tu usuario  <%= user.nombre %></h1>
    <section class="formulario">
        <form action="/users/update/<%= user.id %>?_method=PUT" method="POST">
            <label for="nombre">Nombre </label>
            <p><input type="text" name="apellido" id="" value="<%= user.nombre %>" required></p>
            <label for="apellido">Apellido </label>
            <p><input type="text" name="apellido" id="" value="<%= user.apellido %>" required></p>
            <label for="telefono">Teléfono Contacto </label>
            <p><input type="number" name="telefono" id="" value="<%= user.telefono %>" required></p>
            <label for="fecha_nacimiento">Fecha de Nacimiento </label>
            <p><input type="date" name="fecha_nacimiento" id="" value="<%= user.fecha_nacimiento %>" required ></p>
            <label for="domicilio_entrega">Domicilio de Entrega </label>
            <p><input type="text" name="domicilio_entrega" id="" value="<%= user.domicilio_entrega %>" required></p>
            <label for="codigo_postal">Código Postal </label>
            <p><input type="text" name="codigo_postal" id="" value="<%= user.codigo_postal %>" required></p>
            <label for="ciudad">Ciudad </label>
            <p><input type="text" name="ciudad" id="" value="<%= user.ciudad %>" required></p>
            <label for="rol_id">Rol </label>
            <p>
                <select name="rol_id" id="" required>
                    <% allRols.forEach(rol => { %>
                    <option value="<%= rol.id %>" <% if (user.rol.id == rol.id) { %><%= 'selected' %><% }; %>><%= rol.name %></option>
                    <% }); %>
                </select>
            </p>


            
            <br>
            <p> <button class="botonAgregar" type="submit">Actualizar</button>
        
            <a  class="botonVolver" href="/">Home</a></p>
        </form>
    </section>
</main>
<footer>
<%-include('partials/footer.ejs')%>
</footer>
</body>
</html>