<!DOCTYPE html>
<html lang="es">
<head>
<base href="/">
<%-include('partials/head.ejs') %>
<link href="/static/css/userProfile.css" rel="stylesheet">
</head>
<body>

<%-include('partials/header.ejs')%>

<main>
	<div class="" >
		<div class="">
			<div class="">
				<h2>Hi <%= user.nombre %> </h2>
	
				<!--<img src="/images/avatars/<%= user.avatar %> ">-->
				<br>
				<br>
				<!--<div class="alert alert-success"><%= user.email %> </div>-->
			</div>
		</div>
	</div>
</main>
<footer>
<%-include('partials/footer.ejs')%>
</footer>
</body>
</html>