<!DOCTYPE html>
<html lang="es">
<head>
<base href="/">
<%-include('partials/head.ejs') %>
<link href="/static/css/userProfile.css" rel="stylesheet">
</head>
<body>

<%-include('partials/header.ejs')%>

<main>
    <h1><%= user.nombre %> </h1>    
    <br>
    <p>Cumpleaños: <%= user.cumpleaños %> </p>
    <p>Ciudad: <%= user.ciudad %> </p>
    <p>Email: <%= user.email%> </p>

    <br>
    <section>
      
    </section>
</main>
<footer>
<%-include('partials/footer.ejs')%>
</footer>
</body>
</html>