<!DOCTYPE html>
<html lang="es">
<head>
<base href="/">
<%-include('partials/head.ejs') %>
<link href="/static/css/userProfile.css" rel="stylesheet">
</head>
<body>

<%-include('partials/header.ejs')%>

<main>

    <h1>Hola <%= user.nombre %> </h1> 
    <h1> <%= user.apellido %> </h1> 
   <h1> <%= user.mail  %> </h1>
   <h2><%= user.ciudad  %></h2>
  


    <br>
    <section>
		<a class="botonModificar" href="/users/edit/<%= user.id %>">Modificar</a>
    </section>
</main>
<footer>
<%-include('partials/footer.ejs')%>
</footer>
</body>
</html>