<!DOCTYPE html>
<html lang="es">
<head>
<base href="/">
<%-include('partials/head.ejs') %>
<link href="/static/css/userProfile.css" rel="stylesheet">
</head>
<body>

<%-include('partials/header.ejs')%>

<main>
    <h1>Hola <%= userLog.nombre %>! Estas seguro de querer borrar tu suscripción a BikeXtrem?</h1>
    <p>
        <form action="/users/delete/<%= userLog.id %>?_method=PUT" method="POST">
            <br>
            <p> <button class="botonBorrar" type="submit">Borrar mi suscripción</button>
            
            <a  class="botonVolver" href="/">Home de BikeXtrem</a></p>

        </form>
    </p>
</main>
<footer>
<%-include('partials/footer.ejs')%>
</footer>
</body>
</html>