<!DOCTYPE html>
<html lang="es">
<head>
<base href="/">
<%-include('partials/head.ejs') %>
<link href="/static/css/userProfile.css" rel="stylesheet">
</head>
<body>

<%-include('partials/header.ejs')%>

<main>
    <h1>Datos de <%= userLog.nombre %> <%= userLog.apellido %></h1>

    <p>Nombre: <%= userLog.nombre %></p> 
    <p>Apellido: <%= userLog.apellido %> </p> 
    <p>telefono: <%= userLog.telefono  %> </p>
    <p>Domicilio: <%=userLog.domicilio_entrega %></p>
    <p>Código Postal <%=userLog.codigo_postal %> </p>
    <p>Ciudad:<%= userLog.ciudad  %></p>
    <p>Género <%= userLog.genres  %></p>
    <p>Fecha de Nacimiento:<%= userLog.fecha_nacimiento %> </p>
    <br>
    <section>
		<a class="botonModificar" href="/users/edit/<%= userLog.id %>">Editar mis datos</a>
    <a class="botonBorrar" href="/users/delete/<%= userLog.id %>">Bajar mi suscripción</a>

    </section>
</main>
<footer>
<%-include('partials/footer.ejs')%>
</footer>
</body>
</html>