<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <%-include('partials/head')%>
    <link href="/static/css/form_productos.css" rel="stylesheet">
</head>

<body>
    <%-include('partials/header')%>
    <main>
        <div class="tabs">
            <div class="tabs__content" data-tab="2">

                <div class="errores">
                    <ul></ul>
                </div>
                <div class="errores_img">
                    <ul></ul>
                </div>

        <div>
            <label for="file">Imagen Producto</label>
            <input type="file" class="form-control" name="file" onchange= "return fileValidation()">
            <img src="static/images/product/<%= product.imagen %>" width="200" height="200">
            <% if (locals.errors && errors.file) { %>
                <span><%= errors.file.msg %></span>
                <% } %>
        </div>

                    <div>
                        <label for="descripcion">Descripcion Producto (Optional)</label>
                        <textarea rows="5" value="<%= product.descripcion %>" id="descripcion" name="descripcion"><%= product.descripcion %></textarea>
                    </div>

        <p>
            <label for="categoria_id">Categoría</label>
            <select name="categoria_id" id="" required>
                <% categoriaProducto.forEach(categoria => { %>
                <option value="<%= categoria.id %>" <% if (product.categoria_id == categoria.id) { %><%= 'selected' %><% }; %>><%= categoria.nombre %></option>
                 <% }); %>
            </select>
        </p>
        <p>
            <label for="proveedor_id">Proveedor</label>
            <select name="proveedor_id" id="" required>
                <% productoProveedor.forEach(proveedor => { %>
                <option value="<%= proveedor.id %>" <% if (product.provedor_id == proveedor.id) { %><%= 'selected' %><% }; %>><%= proveedor.nombre %></option>
                 <% }); %>
            </select>
        </p>

        <button type="submit" value="Guardar y volver al Home">EDITAR PRODUCTO</a></button> <br><br>
    </form>
    <form action="/product/delete/<%= product.id %>?_method=DELETE" method="post">
        <button type="submit" value="Guardar y volver al Home">ELIMINAR PRODUCTO</a></button>
    </form>
    <script src="/static/js/prodUpdateValidation.js"></script>
</div>

</main>
<%-include('partials/footer')%>
    </body>

</html>